@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@-webkit-keyframes bounce {
  from {
    top: 0;
  }
  to {
    top: 100px;
  }
}
@keyframes bounce {
  from {
    top: 0;
  }
  to {
    top: 100px;
  }
}

.jarallax {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.jarallax .jarallax-img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body {
  font-family: "Roboto", sans-serif;
  background: whitesmoke;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-task1 {
  width: 150px;
  margin: auto;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-task1__container {
  position: relative;
  border: 1px solid #2b80e2;
  border-radius: 50%;
  background: #2b80e2;
  width: 50px;
  height: 50px;
  left: 50px;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.88, 0.01, 0.89, 0.6);
          animation-timing-function: cubic-bezier(0.88, 0.01, 0.89, 0.6);
}

.container-task1 hr {
  position: relative;
  left: -25px;
  border-top: 5px solid black;
  color: #333;
  width: 100px;
  top: 150px;
}

.container-task2 .switch-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 0 0;
}

.container-task2 .switch-container input[type="checkbox"] {
  display: none;
}

.container-task2 .switch-container__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #596172;
  margin: 0 0 15px 0;
}

.container-task2 .switch-container-switch {
  margin: 10px;
  width: 50px;
  height: 50px;
}

.container-task2 .switch-container-switch__active + label {
  display: block;
  width: 51px;
  height: 31px;
  background: #34c759;
  border-radius: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container-task2 .switch-container-switch__active + label:before {
  content: "";
  position: relative;
  left: 22px;
  width: 27px;
  height: 27px;
  background: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.06);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container-task2 .switch-container-switch__active:checked + label {
  background: #bcbcc3;
}

.container-task2 .switch-container-switch__active:checked + label::before {
  left: 2px;
}

.container-task3 {
  width: 100%;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 200px 0;
}

.container-task3 img {
  width: 300px;
}

.container-task3 .img1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 0 150px;
}

.container-task3 .img2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding: 0 150px;
}

.container-task3 .img3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 0 150px;
}

.container-task3 .img4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding: 0 150px;
}

.container-task4 {
  height: 500px;
}
